<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="ticketDao" class="ru.otus.dao.TicketDaoCsv">
        <constructor-arg name="resourceName" value="questions.csv"/>
    </bean>

    <bean id="ticketService" class="ru.otus.service.TicketServiceImpl">
        <constructor-arg name="ticketDao" ref="ticketDao"/>
    </bean>

    <util:constant id="PRINT_STREAM" static-field="java.lang.System.out"/>

    <bean id="ticketPrinterService" class="ru.otus.service.TicketPrinterServiceImpl">
        <constructor-arg name="ticketService" ref="ticketService"/>
        <constructor-arg name="printStream" ref="PRINT_STREAM"/>
    </bean>

    <bean id="ticketRunnerService" class="ru.otus.service.TicketRunnerServiceImpl">
        <constructor-arg name="printerService" ref="ticketPrinterService"/>
    </bean>

</beans>